
body {
  width: 100%;
  height: 100%;
  background-color: #331a00;
  overflow: hidden;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 80s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

div img {
    display: block;
    width: 100%;
}

#myContainer {
    height: 50vh;
    display: flex;
    justify-content: center;
    background-image: url('img/birdbackground.jpg');
    background-size: cover;
}
  

#dave {
    top: -15vh;
    right: 10vw;
    position: absolute;
    transform: rotate(270deg);
    max-width: 10vw; 
    opacity: 0;
}

.rotate-img {
    animation:spinMove 20s linear;
    animation-delay: 1s;
}

@keyframes spinMove { 
    0% {
      transform: translateY(-5vh) rotate(120deg);
      opacity: 1;
    }
    30% {
      transform: translateY(10vh) rotate(180deg);
      opacity: 1;
    }
    40% {
      transform: translateY(10vh) rotate(180deg);
      opacity: 1;
    }
    50% {
        transform: translateY(10vh) translateX(-2vh) rotate(200deg);
        opacity: 1;
    }
    60% {
        transform: translateY(10vh) rotate(180deg);
        opacity: 1;
    }
    70% {
        transform: translateY(10vh) rotate(180deg);
        opacity: 1;
    }
    100% {
      transform: translateY(-5vh) rotate(120deg);
      opacity: 1;
    }
}

@keyframes crawl {
	0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
	100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }